<%= render 'shared/nav_menu' %>

<div id="indexpage">
  <div id="page-bgtop">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Benvenuto <strong><%= @user.name %></strong>  <%= gravatar_for @user %></a></h2>
				
				<div class="entry">
  				<h3><strong>Area download</strong> </h3>
        </div>


        <div class="entry">
        	<table border="0">
        	  <tbody>
        	    <tr>	
        	      <td valign="top" align="center">					        
        	        <% image = image_tag( "download_area/ISE_Continuous_Availability.png", :id => 1, 
											:alt => "ISE_Continuous_Availability", :title => "ISE_Continuous_Availability",
											:width => "130", :height => "150", :class => "") %>
					<% dropbox_path_public_pdf = "http://dl.dropbox.com/u/11534088/ISE_Continuous_Availability.pdf" %>
        	        <%= link_to image, dropbox_path_public_pdf, :target => "_blank"  %>
        		    <%= link_to "xio1.pdf", dropbox_path_public_pdf, :target => "_blank"  %>					        
        	      </td>
        	      <td valign="top" align="left">
        	        <p>ISE Continuous Availability is the first host-independent, synchronous data replication solution for
                  mission-critical applications. ISE Continuous Availability leverages the true active-active design of
                  ISE storage blades, expanding the active-active concept over distance across a datacenter, a
                  campus or even a city. ISE Continuous Availability enables virtual and physical servers to remain
                  continuously connected to their ISE storage blades irrespective of network failures, storage volume
                  (LUN) failures and inadvertent disconnections.</p>
        	      </td>
                </tr>
              </tbody>
          </table>
        </div>

        <div class="entry">
        	<table border="0">
        	  <tbody>
        	    <tr>
        	      <td valign="top" align="center">					        
        	        <% image = image_tag( "download_area/ISE_New_Foundation.png", :id => 2, 
											:alt => "ISE_New_Foundation", :title => "ISE_New_Foundation",
											:width => "130", :height => "150", :class => "") %>
				    <% dropbox_path_public_pdf = "http://dl.dropbox.com/u/11534088/ISE_New_Foundation.pdf" %>
        	        <%= link_to image, dropbox_path_public_pdf, :target => "_blank"  %>
        		    <%= link_to "xio2.pdf", dropbox_path_public_pdf, :target => "_blank"  %>					        
        	      </td>
        	      <td valign="top" align="left">
        	        <p>For the last several decades the underlying elements of data storage disk drives, drive enclosures, and controllersÑhave remained more or less the same, and have been unable to keep pace with dramatically changing business requirements. Xiotech offers a fresh approach with its Intelligent Storage Element technology: A storage foundation that sets new standards for reliability, performance, scalability, and value.</p>
        	      </td>
                </tr>
              </tbody>
          </table>
        </div>

        <div class="entry">
        	<table border="0">
        	  <tbody>
        	    <tr>
        	      <td valign="top" align="center">					        
        	        <% image = image_tag( "download_area/ISE_Storage_Blade_Datasheet.png", :id => 3, 
											:alt => "ISE_Storage_Blade_Datasheet", :title => "ISE_Storage_Blade_Datasheet",
											:width => "130", :height => "150", :class => "") %>
					<% dropbox_path_public_pdf = "http://dl.dropbox.com/u/11534088/ISE_Storage_Blade_Datasheet.pdf" %>
        	        <%= link_to image, dropbox_path_public_pdf, :target => "_blank"  %>
        		    <%= link_to "xio3.pdf", dropbox_path_public_pdf, :target => "_blank"  %>					        
        	      </td>
        	      <td valign="top" align="left">
        	        <p>Purpose-built for server and desktop virtualization, cloud computing and other applications with multi-tenant workloads generating near simultaneous I/O requests to the same shared storage resources, Intelligent Storage Element storage blades are a simple and efficient way to rapidly deliver critical information across the enterprise.</p>
        	      </td>
                </tr>
              </tbody>
          </table>
        </div>

		<div class="entry">
			<table border="0">
			  <tbody>
			    <tr>
			      <td valign="top" align="center">					        
			        <% image = image_tag( "download_area/CN2000_storage_extension_platform.png", :id => 4, 
											:alt => "CN2000_storage_extension_platform", :title => "CN2000_storage_extension_platform",
											:width => "130", :height => "150", :class => "") %>
					<% dropbox_path_public_pdf = "http://dl.dropbox.com/u/11534088/CN2000_storage_extension_platform.pdf" %>
			        <%= link_to image, dropbox_path_public_pdf, :target => "_blank"  %>
					<%= link_to "ciena.pdf", dropbox_path_public_pdf, :target => "_blank"  %>					        
			      </td>
			      <td valign="top" align="left">
			        <p>THE CN 2000 STORAGE EXTENSION PLATFORM IS AN INDUSTRY QUALIFIED STORAGE AND LOCAL AREA NETWORKING (LAN) SOLUTION. Designed to connect data centers over distance, the CN 2000 reduces recurring bandwidth charges by up to 70 percent through hardware compression and Dynamic Bandwidth Assignment. The CN 2000 supports up to eight physically isolated Fibre Channel (FC), ESCON¨, FICONª, and Gigabit Ethernet (GbE) ports, and is up to 80 percent less expensive than traditional channel extenders and FCIP-based devices. The CN 2000 allows a variety of applications, such as Storage Area Networking (SAN), Disk Mirroring, Remote Backup, Mainframe, LAN, Clustering, and Network Attached Storage (NAS) to share a single Wide Area Network (WAN) connection, simplifying network design and dramatically increasing bandwidth efficiency. Supporting WAN interfaces from DS3 through OC-48/STM-16 and GbE, the CN 2000 meets the most demanding enterprise requirements with the ability to scale as an enterprise's requirements change.</p>
			      </td>
		        </tr>
		      </tbody>
		  </table>
        </div>

        <div class="entry">
        	<table border="0">
        	  <tbody>
        	    <tr>
        	      <td valign="top" align="center">					        
        	        <% image = image_tag( "download_area/eyevis_Prodotti_e_Soluzioni.png", :id => 5, 
											:alt => "eyevis_Prodotti_e_Soluzioni", :title => "eyevis_Prodotti_e_Soluzioni",
											:width => "130", :height => "150", :class => "") %>
					<% dropbox_path_public_pdf = "http://dl.dropbox.com/u/11534088/eyevis_Prodotti_e_Soluzioni.pdf" %>
        	        <%= link_to image, dropbox_path_public_pdf, :target => "_blank"  %>
        		    <%= link_to "eyevis.pdf", dropbox_path_public_pdf, :target => "_blank"  %>					        
        	      </td>
        	      <td valign="top" align="left">
        	        <p>eyevis con sede a Reutlingen - Germania, è specializzata nello sviluppo e nella produzione di sistemi di visualizzazione di grande formato e garantisce soluzioni con le più attuali tecnologie e secondo le richieste specifiche dei clienti. Accanto alle unità di retroproiezione, basate sulla tecnologia DLP™ di Texas Instruments ed ai controllers per la gestione dei videowall, eyevis sviluppa anche soluzioni software intelligenti per ottenere un unico, perfetto, sistema di visualizzazione di grande formato. Il nome Eyevis è sinonimo di qualità, innovazione, sistemi flessibili e ridondanti e soluzioni nel settore dei display di grande formato. Per ogni applicazione in sale controllo o monitoraggio, sale crisi, sale conferenze, foyer etc, eyevis offre la soluzione su misura per le vostre esigenze. La gamma prodotti include monitor LCD ad alta risoluzione e soluzioni speciali per simulazione ed applicazioni di realtà virtuale.</p>
        	      </td>
                </tr>
              </tbody>
          </table>
        </div>

		<div class="entry">
			<table border="0">
			  <tbody>
			    <tr>
			      <td valign="top" align="center">					        
			        <% image = image_tag( "download_area/Shunra_Mobile_Performance_Report.png", :id => 6, 
											:alt => "Shunra_Mobile_Performance_Report", :title => "Shunra_Mobile_Performance_Report", 
											:width => "130", :height => "150", :class => "") %>
					<% dropbox_path_public_pdf = "http://dl.dropbox.com/u/11534088/Shunra_Mobile_Performance_Report.pdf" %>
			        <%= link_to image, dropbox_path_public_pdf, :target => "_blank"  %>
					<%= link_to "shunra.pdf", dropbox_path_public_pdf, :target => "_blank"  %>					        
			      </td>
			      <td valign="top" align="left">
			        <p>To be totally confident that your applications (WEB, WAN, Mobile, Cloud) will perform the way end users expect, get to know Shunra's Performance Suite.</p>
			      </td>
		        </tr>
		      </tbody>
		  </table>
        </div>

        <div class="entry">
        	<table border="0">
        	  <tbody>
        	    <tr>
        	      <td valign="top" align="center">					        
        	        <% image = image_tag( "download_area/Infoguard_WhitePaper_Fiber_Optic.png", :id => 7, 
											:alt => "Infoguard_WhitePaper_Fiber_Optic", :title => "Infoguard_WhitePaper_Fiber_Optic",
											:width => "130", :height => "150", :class => "") %>
					<% dropbox_path_public_pdf = "http://dl.dropbox.com/u/11534088/Infoguard_WhitePaper_Fiber_Optic.pdf" %>
        	        <%= link_to image, dropbox_path_public_pdf, :target => "_blank"  %>
        		    <%= link_to "infoguard.pdf", dropbox_path_public_pdf, :target => "_blank"  %>					        
        	      </td>
        	      <td valign="top" align="left">
        	        <p>Today, the world of business would be inconceivable without fibre optic cables. However, what is often forgotten or even denied is the fact that it is very easy to tap into fibre optic networks. The security risk, therefore, should not be underestimated.
                  Fibre optic cables are data communication lines that have previously displayed unrivalled advantages. There is no other means of transporting such huge volumes of information so fast and so reliably. State-of-the-art fibre optic networks are employed by many banks, insurance companies, enterprises and public authorities as the backbone, which just happens tbe the place where industrial espionage is childÕs play. According to numerous, international studies, digital eavesdropping has multiplied tenfold in the past two years in companies around the globe. The commercial damage resulting from attacks of this nature is enormous. The F.B.I. estimates the annual potential for damage as a result of industrial espionage to be in the order of USD 20 billion Ð solely for attacks taking place within the United States.</p>
        	      </td>
                </tr>
              </tbody>
          </table>
        </div>

        <div class="entry">
        	<table border="0">
        	  <tbody>
        	    <tr>
        	      <td valign="top" align="center">					        
        	        <% image = image_tag( "download_area/InfoGuard_EtherGuard_e.png", :id => 8, 
											:alt => "InfoGuard_EtherGuard_e", :title => "InfoGuard_EtherGuard_e",
											:width => "130", :height => "150", :class => "") %>
        	        <% dropbox_path_public_pdf = "http://dl.dropbox.com/u/11534088/InfoGuard_EtherGuard_e.pdf" %>
					<%= link_to image, dropbox_path_public_pdf, :target => "_blank"  %>
        		    <%= link_to "infoguard2.pdf", dropbox_path_public_pdf, :target => "_blank"  %>					        
        	      </td>
        	      <td valign="top" align="left">
        	        <p>EtherGuard1/EtherGuard10 - 
                  A one-of-a-Kind Security Platform with Unmatched Performance.</p>
        	      </td>
                </tr>
              </tbody>
          </table>
        </div>

		<div class="entry">
			<table border="0">
			  <tbody>
			    <tr>
			      <td valign="top" align="center">					        
			        <% image = image_tag( "download_area/ATMedia 10G_encryptor_flyer_en.png", :id => 9, 
											:alt => "ATMedia 10G_encryptor_flyer_en", :title => "ATMedia 10G_encryptor_flyer_en",
											:width => "130", :height => "150", :class => "") %>
					<% dropbox_path_public_pdf = "http://dl.dropbox.com/u/11534088/ATMedia%2010G_encryptor_flyer_en.pdf" %>
			        <%= link_to image, dropbox_path_public_pdf, :target => "_blank"  %>
				    <%= link_to "atmedia.pdf", dropbox_path_public_pdf, :target => "_blank"  %>					        
			      </td>
			      <td valign="top" align="left">
			        <p>ATMedia 10 Gigabit Ethernet Encryption
                The 10 Gigabit network technology is rapidly spreading in today's networks. Together with the increasing use of dark fiber and WDM WAN connections, high performance backbones can be easily implemented overlong distances.
                However, the direct interconnection of Ethernet structures results in a LAN spanning across several locations. Since parts of this LAN are linked via public networks, there is a high risk of tapping and manipulation. In the wariest case, third parties may gain full access to the internal structure of the network.
                É..
                The ATMedia 10G Encryptor realizes this by a very simple integration (bump in the wire) into the existing 10 Gigabit Ethernet structure. The hardware link encryption at network layer 2 allows a fully transparent operation in respect of higher protocols and does not cause any measurable effect LAN operation.</p>
			      </td>
		        </tr>
		      </tbody>
		  </table>
        </div>

		<div class="entry">
			<table border="0">
			  <tbody>
			    <tr>
			      <td valign="top" align="center">					        
			        <% image = image_tag( "download_area/Barr_print_channel.png", :id => 10, 
											:alt => "Barr_print_channel", :title => "Barr_print_channel",
											:width => "130", :height => "150", :class => "") %>
			       <% dropbox_path_public_pdf = "http://dl.dropbox.com/u/11534088/BARR_PRINT_CHANNEL.pdf" %>
				   <%= link_to image, dropbox_path_public_pdf, :target => "_blank"  %>
				   <%= link_to "barr.pdf", dropbox_path_public_pdf, :target => "_blank"  %>					        
			      </td>
			      <td valign="top" align="left">
			        <p>BARR/PRINT CHANNEL is a software and hardware module of the Barr Enterprise Print
                Server that allows you to physically connect your Windows-based computer to your
                mainframe channel. It emulates multiple mainframe-attached printers and is a relatively
                simple method of printing from the mainframe to your local network printers.</p>
			      </td>
		        </tr>
		      </tbody>
		  </table>
        </div>

		<div class="entry">
			<table border="0">
			  <tbody>
			    <tr>
			      <td valign="top" align="center">					        
			        <% image = image_tag( "download_area/Barr_RJE.png", :id => 11, 
											:alt => "Barr_RJE", :title => "Barr_RJE",
											:width => "130", :height => "150", :class => "") %>
			      	<% dropbox_path_public_pdf = "http://dl.dropbox.com/u/11534088/BARR_RJE.pdf" %>
				    <%= link_to image, dropbox_path_public_pdf, :target => "_blank"  %>
					<%= link_to "barr2.pdf", dropbox_path_public_pdf, :target => "_blank"  %>					        
			      </td>
			      <td valign="top" align="left">
			        <p>BARR/RJE is a software module of the Barr Enterprise Print Server that allows you to send and receive files to and from multiple IBM mainframes via IP or SNA. Applications for BARR/RJE include integration of mainframe and open systems networks and enterprise-wide print and output management. BARR/RJE communicates with the mainframe by emulating an IBM 3770, a device that provides batch transmissions via IP or SNA connections to mainframe job entry systems.</p>
			      </td>
		        </tr>
		      </tbody>
		  </table>
        </div>

		<div class="entry">
			<table border="0">
			  <tbody>
			    <tr>
			      <td valign="top" align="center">					        
			        <% image = image_tag( "download_area/Eclipz_DataSheet.png", :id => 12, 
											:alt => "Eclipz_DataSheet", :title => "Eclipz_DataSheet", 
											:width => "130", :height => "150", :class => "") %>
			   		<% dropbox_path_public_pdf = "http://dl.dropbox.com/u/11534088/Eclipz_DataSheet.pdf" %>
			     	<%= link_to image, dropbox_path_public_pdf, :target => "_blank"  %>
					<%= link_to "eclipz.pdf", dropbox_path_public_pdf, :target => "_blank"  %>					        
			      </td>
			      <td valign="top" align="left">
			        <p>ECLIPZ is an inline encryption appliance that directly
                integrates hardware accelerated encryption into native
                ESCON channels. It provides fully transparent, high performance
                data encryption for legacy ESCON tape systems.
                Designed for the data center, ECLIPZ enables mainframe
                operators to realize the following benefits:
                1 - Native ESCON tape performance
                2 - Preservation of legacy ESCON tape device investments
                3 - Simple, secure local key management
                4 - Interoperability with leading appliance-based and
                mainframe-based key management solutions
                5 - Supports 2 or 4 ESCON channels in single appliance
                6 - Based on industry standard 2U Linux server
                7 - Facilitates and provides security for backup and recovery
                operations, and information sharing with business
                partners</p>
			      </td>
		        </tr>
		      </tbody>
		  </table>
        </div>

		<div class="entry">
			<table border="0">
			  <tbody>
			    <tr>
			      <td valign="top" align="center">					        
			        <% image = image_tag( "download_area/Eclipz_Top_Ten_Reasons.png", :id => 13, 
											:alt => "Eclipz_Top_Ten_Reasons", :title => "Eclipz_Top_Ten_Reasons",
											:width => "130", :height => "150", :class => "") %>
			        <% dropbox_path_public_pdf = "http://dl.dropbox.com/u/11534088/Eclipz_Top_Ten_Reasons.pdf" %>
					<%= link_to image, dropbox_path_public_pdf, :target => "_blank"  %>
					<%= link_to "eclipz2.pdf", dropbox_path_public_pdf, :target => "_blank"  %>					        
			      </td>
			      <td valign="top" align="left">
			        <p>The Top Ten Reasons to Choose ECLIPZ!
                1) - Protect your ESCON tape data
                Data at rest / Information sharing / Disaster recovery sites
                - Avoid costly customer notifications if tapes are lost or stolen.
                2) - Channel based encryption for legacy ESCON
                tape systems
                Native in-line encryption appliance to address installed base
                of ESCON tape drives. Supports four ESCON
                channels per unit.</p>
			      </td>
		        </tr>
		      </tbody>
		  </table>
        </div>

        <div class="entry">
        	<table border="0">
        	  <tbody>
        	    <tr>
        	      <td valign="top" align="center">					        
        	        <% image = image_tag( "download_area/EclipzFICON_TapeEncryptor.png", :id => 14, 
											:alt => "EclipzFICON_TapeEncryptor", :title => "EclipzFICON_TapeEncryptor", 
											:width => "130", :height => "150", :class => "") %>
					<% dropbox_path_public_pdf = "http://dl.dropbox.com/u/11534088/EclipzFICON_TapeEncryptor.pdf" %>
        	        <%= link_to image, dropbox_path_public_pdf, :target => "_blank"  %>
        		    <%= link_to "eclipz3.pdf", dropbox_path_public_pdf, :target => "_blank"  %>					        
        	      </td>
        	      <td valign="top" align="left">
        	        <p>Eclipz is an inline encryption appliance that directly integrates
                  hardware accelerated encryption into native FICON
                  channels. It provides fully transparent, high performance
                  data encryption for mainframe tape systems.
                  Designed for the data center, Eclipz enables mainframe
                  operators to realize the following benefits:
                  1 - Native FICON tape performance and data integrity
                  2 - Preservation of legacy mainframe tape device investments
                  including IBM 3590 and Sun 9840 and 9940 drives
                  3 - Supports 2 channels in single appliance
                  4 - Facilitates and provides security for backup and recovery
                  operations, and information sharing with business partners
                  5 - Eclipz ESCON encrypted tapes can be decrypted by the
                  FICON encryption appliance
                  6 - Installation, training and acceptance can take less than
                  one day</p>
        	      </td>
                </tr>
              </tbody>
          </table>
        </div>

        <div class="entry">
        	<table border="0">
        	  <tbody>
        	    <tr>
        	      <td valign="top" align="center">					        
        	        <% image = image_tag( "download_area/I-4995_Spirit.png", :id => 15, 
											:alt => "I-4995_Spirit", :title => "I-4995_Spirit", 
											:width => "130", :height => "150", :class => "") %>
        			<% dropbox_path_public_pdf = "http://dl.dropbox.com/u/11534088/I-4995_Spirit.pdf" %>
			        <%= link_to image, dropbox_path_public_pdf, :target => "_blank"  %>
        		    <%= link_to "spirit.pdf", dropbox_path_public_pdf, :target => "_blank"  %>					        
        	      </td>
        	      <td valign="top" align="left">
        	        <p>The I-4995 SPIRIT is a high speed/high capacity Virtual Optical Disk
                  System, maintaining Write-Once-Read-Many (WORM) data protection. The
                  storage system is IBM 3995 compatible and supports OAM under OS/390 and
                  z/OS. The features significantly lower access time and remote copy for business
                  continuity.</p>
        	      </td>
                </tr>
              </tbody>
          </table>
        </div>

        <div class="entry">
        	<table border="0">
        	  <tbody>
        	    <tr>
        	      <td valign="top" align="center">					        
        	        <% image = image_tag( "download_area/I-5590_Chameleon.png", :id => 16, 
											:alt => "I-5590_Chameleon", :title => "I-5590_Chameleon",
											:width => "130", :height => "150", :class => "") %>
        	        <% dropbox_path_public_pdf = "http://dl.dropbox.com/u/11534088/I-5590_Chameleon.pdf" %>
				    <%= link_to image, dropbox_path_public_pdf, :target => "_blank"  %>
        		    <%= link_to "chameleon.pdf", dropbox_path_public_pdf, :target => "_blank"  %>					        
        	      </td>
        	      <td valign="top" align="left">
        	        <p>The I-5590 Chameleon is an integrated control unit for IBM mainframes
                  and open systems. It supports IBM compatible 36 18 and 9 track tape drives,
                  optical disks, printers as well as tape formats. A channel exten-sion
                  feature provides connectivity over TCP/IP to remote tape drives and printers
                  and to original IBM 34xx tape systems and IBM 32xx/42xx channel
                  printers.</p>
        	      </td>
                </tr>
              </tbody>
          </table>
        </div>

        <div class="entry">
        	<table border="0">
        	  <tbody>
        	    <tr>
        	      <td valign="top" align="center">					        
        	        <% image = image_tag( "download_area/I-6994_Gazelle.png", :id => 17, 
											:alt => "I-6994_Gazelle", :title => "I-6994_Gazelle", 
											:width => "130", :height => "150", :class => "") %>
    				<% dropbox_path_public_pdf = "http://dl.dropbox.com/u/11534088/I-6994_Gazelle.pdf" %>
	    	        <%= link_to image, dropbox_path_public_pdf, :target => "_blank"  %>
        		    <%= link_to "gazelle.pdf", dropbox_path_public_pdf, :target => "_blank"  %>					        
        	      </td>
        	      <td valign="top" align="left">
        	        <p>The I-6994 Gazelle Virtual Tape Server for mainframes and open systems
                  offers an excellent combination of price, performance, capacity, scalability,
                  connectivity and floor space. The virtual storage system provides centralized
                  management for local and remote tape resources across all system platforms
                  and enables an enterprise wide data management and security strategy for
                  backup and archiving. Supported operating systems include z/OS, OS/390,
                  VM/VSE, BS2000, UNIX, AIX, Linux, Solaris and Windows.</p>
        	      </td>
                </tr>
              </tbody>
          </table>
        </div>

        <div class="entry">
        	<table border="0">
        	  <tbody>
        	    <tr>
        	      <td valign="top" align="center">					        
        	        <% image = image_tag( "download_area/I-6995_Zebra.png", :id => 18, 
											:alt => "I-6995_Zebra", :title => "I-6995_Zebra",
											:width => "130", :height => "150", :class => "") %>
        	   		<% dropbox_path_public_pdf = "http://dl.dropbox.com/u/11534088/I-6995_Zebra.pdf" %>
			     	<%= link_to image, dropbox_path_public_pdf, :target => "_blank"  %>
        		    <%= link_to "zebra.pdf", dropbox_path_public_pdf, :target => "_blank"  %>					        
        	      </td>
        	      <td valign="top" align="left">
        	        <p>The I-6995 "ZEBRA" is a new revolutionary generation of virtual tape
                  server for IBM zSeries, S/390 and Open Systems. The high scalable virtual
                  storage system is fully disk based. The tape-less concept enables features, not
                  available with traditional virtual tape systems, including data replication for
                  disaster recovery, fault tolerance, self-healing capability, improved availability
                  and access to any and all virtual volumes in less than 1 second.</p>
        	      </td>
                </tr>
              </tbody>
          </table>
        </div>

        <div class="entry">
        	<table border="0">
        	  <tbody>
        	    <tr>
        	      <td valign="top" align="center">					        
        	        <% image = image_tag( "download_area/I-7995_ContentStore.png", :id => 19, 
											:alt => "I-7995_ContentStore", :title => "I-7995_ContentStore",
											:width => "130", :height => "150", :class => "") %>
        	        <% dropbox_path_public_pdf = "http://dl.dropbox.com/u/11534088/I-7995_ContentStore.pdf" %>
					<%= link_to image, dropbox_path_public_pdf, :target => "_blank"  %>
        		    <%= link_to "content_store.pdf", dropbox_path_public_pdf, :target => "_blank"  %>					        
        	      </td>
        	      <td valign="top" align="left">
        	        <p>The I-7995 ContentStore high speed/high capacity Virtual Optical Disk System
                  provides low cost direct access storage for long term archiving and fast access to
                  IBM mainframe users. The virtual optical disk system handles thousands of online
                  requests per hour with an average retrieval time of less than 1 second. The
                  WORM feature protects data against any type of loss and manipulation.</p>
        	      </td>
                </tr>
              </tbody>
          </table>
        </div>
                        
				<div>
				  <%= link_to "torna alla homepage", root_path, :class => "links" %>
				</div>
			</div>
			
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
          <h2> elenco </h2> 
          <ul>
          	<li>
          	  <%= link_to "ISE Continuous Availability", "#1", :class => "internal_link" %>							
            </li>
          	<li>
          	  <%= link_to "ISE New Foundation", "#2", :class => "internal_link" %>							
          	</li>
          	<li>
          	  <%= link_to "ISE Storage Blade Datasheet", "#3", :class => "internal_link" %>							
          	</li>
          	<li>
          	  <%= link_to "CN2000 storage extension platform", "#4", :class => "internal_link" %>							
          	</li>
          	<li>
          	  <%= link_to "eyevis Prodotti e Soluzioni", "#5", :class => "internal_link" %>							
          	</li>
          	<li>
          	  <%= link_to "Shunra Mobile Performance Report", "#6", :class => "internal_link" %>							
          	</li>
          	<li>
          	  <%= link_to "WhitePaper Fiber Optic", "#7", :class => "internal_link" %>							
          	</li>
          	<li>
          	  <%= link_to "InfoGuard EtherGuard", "#8", :class => "internal_link" %>							
          	</li>
          	<li>
          	  <%= link_to "ATMedia 10G encryptor", "#9", :class => "internal_link" %>							
          	</li>
          	<li>
          	  <%= link_to "Barr print channel", "#10", :class => "internal_link" %>							
          	</li>
          	<li>
          	  <%= link_to "Barr RJE", "#11", :class => "internal_link" %>							
          	</li>
          	<li>
          	  <%= link_to "Eclipz DataSheet", "#12", :class => "internal_link" %>							
          	</li>
          	<li>
          	  <%= link_to "Eclipz Top Ten Reasons", "#13", :class => "internal_link" %>							
          	</li>
          	<li>
          	  <%= link_to "Eclipz FICON Tape Encryptor", "#14", :class => "internal_link" %>							
          	</li>
          	<li>
          	  <%= link_to "I-4995 Spirit", "#15", :class => "internal_link" %>							
          	</li>
          	<li>
          	  <%= link_to "I-5590 Chameleon", "#16", :class => "internal_link" %>							
          	</li>
          	<li>
          	  <%= link_to "I-6994 Gazelle", "#17", :class => "internal_link" %>							
          	</li>
          	<li>
          	  <%= link_to "I-6995 Zebra", "#18", :class => "internal_link" %>							
          	</li>
          	<li>
          	  <%= link_to "I-7995 ContentStore", "#19", :class => "internal_link" %>							
          	</li>
          </ul>
				</li>
				<li>
  				<li>
            <h2> risorse esterne </h2> 
            <ul>
            	<li>
            	  <%= link_to "Xiotech ISE Storage Blades", "http://www.xiotech.com/products-services/ise-storage-blade/", :class => "external_link" , :target => "_blank" %>							
              </li>
            	<li>
            	  <%= link_to "Ciena CN-2000", "http://www.ciena.com/products/cn-2000/", :class => "external_link" , :target => "_blank" %>							
            	</li>
            </ul>				
          </li>
			</ul>
</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>Copyright (c) 2010 htscs srl. All rights reserved</p>
</div>
<!-- end #footer -->