<h2>Portfolio </h2> 
<ul>
	<li>
	  <%= link_to "Xiotech ISE Storage Blades", "http://www.xiotech.com/products-services/ise-storage-blade/", :class => "external_link" , :target => "_blank" %>							
  </li>
	<li>
	  <%= link_to "Crittografia", soluzioni_crittografia_path %>    				    
	</li>
	<li>
	  <%= link_to "Simulatore di Rete Geografica", prodotti_shunra_path %>    				    
	</li>
	<li>
	  <%= link_to "Cabling Manager", prodotti_ifs9000_path %>    				      						  
	</li>
	<li>
	  <%= link_to "Intelligent Cabling", prodotti_ifs9000_path %>    				      						    						  
	</li>
	<li>
	  <%= link_to "Legacy Tape Emulator", prodotti_chameleon_path %>    				      						  
	</li>
	<li>
	  <%= link_to "Fep Emulator", prodotti_visara_path %>  						
	</li>
	<li>
	  <%= link_to "Supporto H24", supporto_path %>    				    
	</li>
</ul>