<h2>Soluzioni</h2> 
<ul>
	<li>
	  <%= link_to "Archiviazione e Storage", "http://www.xiotech.com/products-services/ise-storage-blade/", :class => "external_link" , :target => "_blank" %>							
  </li>
	<li>
	  <%= link_to "Mainframe ed Open System", soluzioni_mainframe_open_path %>    				    
	</li>
	<li>
	  <%= link_to "Rete Locale e Rete Geografica", soluzioni_rete_locale_geo_path %>    				    
	</li>
	<li>
	  <%= link_to "Sicurezza", soluzioni_crittografia_path %>
	</li>
	<li>
	  <%= link_to "Infrastruttura", soluzioni_infrastruttura_path %>    				    
	</li>
	<li>							
	  <%= link_to "Sincronizzazione", prodotti_hopf_path %>    				    
	</li>
	<li>
	  <%= link_to "Virtualizzazione", work_in_progress_path %>    				    
	</li>
	<li>
	  <%= link_to "Progettazione", work_in_progress_path %>    				    
	</li>
	<li>
	  <%= link_to "Consulenza", work_in_progress_path %>    				    
	</li>
	<li>
	  <%= link_to "Servizio Tecnico", supporto_path %>
	</li>
</ul>