<!DOCTYPE html>
<html>
<head>
  <title>Htscs <%= @title %></title>
  <%# la favicon.ico deve restare su public come i files 404.html 422.html 500.html in caso il server sia giù %>
  <%= stylesheet_link_tag    "application" %>   
  <%= csrf_meta_tag %>
</head>
<body>

  <%= yield %>

  <%= javascript_include_tag "application" %>
</body>
</html>
